<div class="user-card">
<img src= <%= user.photo %> alt="User profile picture" class="profile-picture">

  <div class="user-info">
    <%= link_to user_path(user.id) do %>
      <h2><%= user.name %></h2>
    <% end %>
    <p><%= user.posts_counter %> posts.</p>
  </div>
</div>