<div class="user-card">
<img src= <%= user.photo %> alt="User profile picture" class="profile-picture">
  <div class="user-info">
    <h2><%= user.name %></h2>
    <p><%= user.posts_counter %> posts.</p>
  </div>
</div>