* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

button,
input[type="submit"] {
  padding: 10px;
  border: none;
  align-self: flex-start;
  cursor: pointer;
}

/* USERS PAGE STYLING HEEEEEEERE */
.users-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.user-card,
.bio-section,
.posts-section,
article {
  padding: 10px;
  box-shadow: 0 0 4px 2px rgb(202, 202, 202);
}

.user-card {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.profile-picture {
  width: 150px;
  height: 100px;
}

.user-info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.bio-section,
.posts-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.posts-list,
.posts-container,
.comments-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgb(206, 194, 218);
  padding: 10px;
}

.post-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.posts-list > .post-card {
  border: 1px solid rgb(206, 194, 218);
  padding: 10px;
}

.post-counters {
  width: fit-content;
  align-self: flex-end;
  font-weight: 700;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.comment-author {
  text-decoration: underline;
  font-weight: 600;
}

article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.main-post {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-post > div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

form {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin: 10px 0;
}

textarea,
input {
  border: 1px solid rgb(168, 158, 250);
  padding: 10px;
  width: 100%;
}


.auth {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 768px) {
  .auth {
    width: 768px;
  }

  .user-card {
    width: 420px;
  }
}